html {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    min-height: 100%;
    font-family:sans-serif;
    background-image: -webkit-radial-gradient(top, circle cover, #252233 0%,
    #252233 80%);
}


ul {
    
    background-color: rgba(0,0,0,0.4);
    border-bottom: 1px solid rgba(254,255,255,0.25);
    box-shadow:0 0 8px rgba(0,0,0,0.4) inset;
    border-radius:50px;
    margin:0;
    padding:0 30px;
  
}

ul {
    display:inline-block;
    text-align: center;
    height:50px;
    overflow: hidden;

}


ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color:turquoise;
}

ul li {
    float:left;
    height:100%;
    list-style: none;
    margin:0 30px;

}

ul li * {
    display:inline-block;
    font-size: 1.3em;
    line-height:50px;
}

ul li a {
    margin-top:-50px;
    transition:0.3s cubic-bezier(0.1,0.1,0.5,1.4);
}

ul li a:hover {
    margin-top:0;
}

ul li a:before{
    content:attr(data-text);
    display:block;
    color:red;
}
